/* ================== EXISTING CLASSES ===================== */

body {
    background: url('resources/image/wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: grey;
    background-size: 100%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    width: 100%; /*885px*/
}

header a /* When not hovered */ {
    color: black;
    text-decoration: none;
    padding: 0px 75px 0px;
}

    header a:hover /* When hovered */ {
        color: rgb(0,183,236);
    }

nav {
    display: inline-block;
    text-align: center;
    word-spacing: 35px;
    font-family: "Cooper Black", 'Trebuchet MS', Arial, sans-serif;
    font-size: x-Large;
    margin-top: 1%; /* 10px */
    margin-left: -5%;
    width: 100%; /*885px*/
}

    nav li /* inline (not below each other) */ {
        display: inline-block;
        margin-right: 15px;
    }

    nav a /* While not hovered */ {
        color: black;
        text-decoration: none;
    }

        nav a:hover /* While hovered */ {
            color: rgb(0,183,236);
        }		
		
article {
    border: 1px solid white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    margin-top: 1%; /*10 px*/
    margin-left: 10%;
    min-height: 1000px;
    min-width: 75%; /*643px*/
    max-width: 75%; /*643px*/
    padding: 10px 20px 10px 20px;
}

footer {
    padding-left: 20px;
}

/* =================== CLASSES ================== */

.headerBackground {
    border: 1px solid black;
    border-top-right-radius: 5px; /* round corner */
    border-top-left-radius: 5px;
    background-color: grey;
    margin-top: 5px;
    padding-top: 20px;
    margin-left: 25%;
    height: 50px;
    width: 50%;
}

.bodyBackground {
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-decoration: none;
    margin-left: 25%;
    width: 50%;
    background-color: rgb(199,199,199);
}

.footerBackground {
    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: grey;
    margin-bottom: 15px;
    margin-left: 25%;
    min-height: 50px;
    max-height: 50px;
    width: 50%; /*873px*/
}

.Accueil {
    margin-top: 10px;
    font-size: xx-large;
    font-family: "Cooper Black", 'Trebuchet MS', Arial, sans-serif;
    margin-left: -5%;
}

.center {
    text-align: center;
}

.testimage {
    display: inline-block;
    border: 3px solid black;
}

.textProperties {
    display: inline-block;
    border-top: 1px dashed rgb(199,199,199);
    border-bottom: 1px dashed rgb(199,199,199);
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    word-wrap: break-word;
}

table.myTable3Column th {
    height: 20px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    font-size: 12px;
    background-color: #98bf21;
    width: 210px;
}


table.myTable3Column td {
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    font-size: 12px;
    width: 210px;
}

table.myTable5Column th {
    height: 20px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    font-size: 12px;
    background-color: #98bf21;
    width: 100px;
}


table.myTable5Column td {
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    font-size: 12px;
    width: 100px;
}

.linkcolor {
    color: olive;
    text-decoration: none;
}

    .linkcolor:hover {
        color: rgb(0,183,236);
        text-decoration: underline;
    }

.project {
    border-top: 1px dashed rgb(199,199,199);
    border-bottom: 1px dashed rgb(199,199,199);
    padding-bottom: 20px;
}

.projetRemarque {
    margin: 0% 3% -2%;
    font-size: x-small;
}

.projectImage {
    border: 5px outset #98bf21;
    width: 97%;
}

.smallProjectImage {
    border: 5px outset #98bf21;
    width: 48%;
}

.soustitre {
    margin: 0% 3% 0%;
    text-decoration: underline;
}

/*   ID   */

#signin {
    display: inline-block;
    text-align: right;
    position: relative;
    left: 675px;
    bottom: 50px;
}

#searchbar {
    display: inline-block;
    position: relative;
    left: 322.5px;
    bottom: 50px;
}

#defaultProfilpicture, #information {
    display: inline-block;
}

#defaultProfilpicture {
    border: 5px inset #98bf21;
    position: relative;
    top: 15px;
    left: 2%;
}

#information {
    margin-left: 4%;
    vertical-align: top;
    margin-top: -5px;
}

#oneabout, #twoabout, #threeabout {
    display: inline-block;
}

#FilsActualite {
    margin-left: 2%;
    font-family: "Cooper black", 'Trebuchet MS', Arial, sans-serif,;
}

#textPropertiesWithoutDashed {
    display: inline-block;
    margin-left: 15%;
    text-align: justify;
    word-wrap: break-word;
}

#descriptionProperties {
    display: inline-block;
    border: 5px solid #98bf21;
    padding: 15px 25px 15px;
    text-align: justify;
    word-wrap: break-word;
}

#centeredImage {
    border: 5px inset #98bf21;
    position: relative;
    margin-bottom: 5%;
    left: 15%;
}

#tableSubject {
    background-color: rgb(234,234,234);
    font-size: small;
}
